.img_container {
  width: 100px;
  height: 100px;
  position: relative;
}
.img_container img {
  width: 100%;
}
.title {
  font-size: 50px;
}
.glassesModel {
  position: absolute;
  top: 85px;
  left: 72.5px;
  width: 130px;
  height: 130px;
}
.glassesModel img {
  opacity: 0.85;
}
.glassesInfo {
  border: 1px solid red;
  width: 100%;
  height: 120px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 5px;
  background-color: rgba(0, 0, 0, 0.8);

  position: absolute;
  bottom: -239px;
  text-align: left;
}
.glassesInfo p {
  margin-bottom: 2px;
}
.glassesInfo h5 {
  font-size: 15px;
  margin-top: 2px;
}
